.back-drop {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
    position: fixed;
    z-index: 5;
    top: 5%;
}

.input-title {
    text-align: left;
}

.bts {
    margin-top: 40px;
}

.form-check-input:focus {
    background-color: black;
    border-color: black;
}

.form-check-input:focus::before {
    background-color: black;
}

